#app {
	height: 100vh;
	background-color: black;
	color: white;
}

.my_bar::-webkit-scrollbar {
	height: 6px;
	width: 4px;
}
.my_bar::-webkit-scrollbar-thumb:horizontal {
	background: #920303;
	border-radius: 10px;
}
.my_bar::-webkit-scrollbar-thumb:vertical {
	background: #920303;
	border-radius: 10px;
}
